.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
  grid-auto-rows: min-content;
  gap: 20px 20px;
  grid-template-areas: "asd a2 a3 a4" "a5 a6 a7 a8" "a9 a10 a11 a12";
}

.asd { grid-area: asd; }

.a2 { grid-area: a2; }

.a3 { grid-area: a3; }

.a4 { grid-area: a4; }

.a5 { grid-area: a5; }

.a6 { grid-area: a6; }

.a7 { grid-area: a7; }

.a8 { grid-area: a8; }

.a9 { grid-area: a9; }

.a10 { grid-area: a10; }

.a11 { grid-area: a11; }

.a12 { grid-area: a12; }

.girl {
  height: 300px;
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-areas: "asd a2"
                          "a3 a4" 
                          "a5 a6"
                          "a7 a8" 
                          "a9 a10"
                          " a11 a12";
  }
}